html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border: solid black 1px;
  border-radius: 8px;
}

.input-label {
  font-size: 20px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

input,
select {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  height: 22px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
}

.input-invalid,
.select-invalid {
  border: 1.5px solid red;
}

.input-focus-invalid,
.select-focus-invalid {
  background-color: rgb(255, 212, 212);
}

.input-valid,
.select-valid {
  border: 1.5px solid green;
}

.input-focus-valid,
.select-focus-valid {
  background-color: rgb(205, 255, 205);
}

button {
  font-size: 16px;
}

.error {
  height: auto;
}
